[core]
	editor = vim
[user]
	name = Juan F Gonzalez
	email = jf.gonzalez@globant.com
[alias]
	s = status
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
  co = checkout
  pl = pull
  c = commit
